body{
    background-color:rgb(245, 234, 245);

    color: #2c2c2c;
}

.name{
    font-family: Arial;
    padding: 0 0 0 5%;
}

.container{
    margin: 4%;
    display: grid;
    grid-template-columns: 100%;
    gap: 1.2rem;
    font-family:sans-serif;
}

@media only screen and (min-width: 640px){
    .container{
        margin: 4%;
        display: grid;
        grid-template-columns: 60% 40%;
        
        gap: 1.2rem;
        font-family:sans-serif;
    }
    .buy button {
        border-radius: 25px;
        font-size: 110%;
        padding: 2% 30%;
        /*padding: 10px 220px;*/
        border: none;
        color:#fff;
        cursor: pointer;
        background-color: #e4a7e1c5;
    }
    

}

.image-box img{
    width: 80%;
}



.buy p {
    font-size: 0.8rem;
}
.buy button {
    border-radius: 2rem;
    font-size: 110%;
    padding: 2% 40%;
    /*padding: 10px 220px;*/
    border: none;
    color:#fff;
    cursor: pointer;
    background-color: #e4a7e1c5;
}

.buy button:hover{
    background-color: #bd8dd8c5
}